/* headersection */

header {
    background: #000;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header.sticky {
    background: #575454;
    height: 100px;
}

header.sticky .nav-link {
    color: #DBDED5;
}

.navbar-brand {
    position: relative;
}


/* .navbar {
    background:;
} */

.logo {
    width: 250px;
    height: 250px;
    margin-left: -50px;
    margin-top: -80px;
}

@font-face {
    font-family: 'oswald';
    src: url(fonts/Oswald/static/Oswald-Medium.ttf);
}

.navbar-nav {
    margin-top: -85px;
    position: relative;
}

.nav-item {
    position: relative;
}

.nav-link {
    font-family: 'oswald';
    font-size: 20px;
    color: white;
    padding: 0 10px;
    position: relative;
}

.nav-link:hover {
    color: white;
    opacity: .5;
    transition: .5s;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
}


/* bannersection */

#banner {
    background: #000;
    position: relative;
    padding-top: 200px;
}

.sakib {
    margin-top: 180px;
}

.sakib h5,
h1,
p {
    color: white;
}

@font-face {
    font-family: 'Kaushan_Script';
    src: url(fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

.name {
    margin-top: 25px;
    font-weight: bold;
    font-family: 'Kaushan_Script';
    letter-spacing: 0.15em;
}

.descrip {
    margin-top: 20px;
    font-weight: bold;
}

.descrips {
    font-weight: bold;
}

.works {
    border-radius: 5px;
    padding: 10px 30px;
    background: #DBDED5;
    color: #575454;
    font-weight: bold;
}

.works:hover {
    text-decoration: none;
    background: #575454;
    color: white;
    transition: .5s;
}

.me {
    width: 550px;
    height: 700px;
    margin-left: 10px;
    /* margin-top: -50px; */
}


/* aboutsection */

#about {
    background: #202020;
    padding-bottom: 100px;
}

.about {
    text-align: center;
    color: white;
    padding-top: 80px;
    font-size: 40px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1;
    border-top: 2px solid #575454;
    width: 90px;
}

.hor {
    width: 160px;
}

.how {
    color: white;
}

.howdy {
    margin-top: 50px;
}

.mama h6,
h6 {
    display: inline;
}

.kaka h6,
h6 {
    display: inline;
}

.papa h6,
h6 {
    display: inline;
}

.baba h6,
h6 {
    display: inline;
}

.percentage h6 {
    color: white;
}

.percentage {
    margin-left: 70px;
    margin-top: 50px;
}

.design {
    position: relative;
    margin-bottom: 20px;
    width: 400px;
    height: 10px;
    background: #575454;
    border-radius: 5px;
}

.designs {
    position: absolute;
    width: 350px;
    height: 10px;
    background: white;
    top: 75px;
    border-radius: 5px;
}

.nine {
    margin-left: 260px;
}

.htmls {
    position: absolute;
    width: 330px;
    height: 10px;
    background: white;
    top: 128px;
    border-radius: 5px;
}

.eight {
    margin-left: 205px;
}

.java {
    position: absolute;
    width: 250px;
    height: 10px;
    background: white;
    top: 182px;
    border-radius: 5px;
}

.five {
    margin-left: 130px;
}

.wordpress {
    position: absolute;
    width: 310px;
    height: 10px;
    background: white;
    top: 236px;
    border-radius: 5px;
}

.seven {
    margin-left: 185px;
}


/* experiencesection */

#experience {
    background: #000;
    padding-top: 50px;
    padding-bottom: 100px;
}

.dash {
    border-left: 2px dashed white;
    height: 180px;
}

.correct {
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 50px;
    position: absolute;
    top: 40px;
    left: 4px;
}

.corrects {
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 50px;
    position: absolute;
    left: 5px;
    top: 200px;
}

.behanse {
    margin-top: 55px;
}

.dot {
    margin-top: 40px;
}

.behan {
    font-size: 20px;
}

.regal {
    margin-top: 30px;
}

.year {
    margin-top: -20px;
    font-size: 14px;
}

.graphic {
    margin-left: 25px;
    margin-top: -182px;
}

.graphic h4,
p {
    color: white;
}

.web {
    margin-top: 57px;
    margin-left: 25px;
}

.web h4,
p {
    color: white;
}

.behance {
    margin-top: 35px;
}

.print {
    margin-top: -182px;
    margin-left: 25px;
}

.print h4,
p {
    color: white;
}

.developer {
    margin-top: 57px;
    margin-left: 25px;
}

.developer h4,
p {
    color: white;
}


/* portfoliosection */

#portfolio {
    background: #202020;
    padding-bottom: 100px;
}

.unorder {
    margin-left: 280px;
    margin-top: 30px;
}

.unorder {
    text-decoration: none;
    list-style-type: none;
}

.unorder li {
    display: inline;
}

.unorder li a {
    font-size: 13px;
    font-family: 'roboto', sans-serif;
    padding: 0 20px;
    color: #DBDED5;
}

.unorder li a:hover {
    transition: .5s;
    color: #575454;
    text-decoration: none;
    cursor: pointer;
}


/* .nav-item a {
    font-size: 12px;
    font-family: 'roboto', sans-serif;
    display: inline;
    text-decoration: none;
} */

.picture {
    margin-top: 50px;
}

.garden {
    width: 367px;
    height: 480px;
    margin-bottom: 20px;
    margin-left: -5px;
    position: relative;
    overflow: hidden;
}

.garden img {
    max-width: 100%;
    transition: transform 1s;
}

.garden img:hover {
    transform: scale(1.3);
}

.hovar {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.garden:hover .hovar {
    transform: scaleX(1);
}

.hovar .content {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.book {
    width: 367px;
    height: 230px;
    margin-bottom: 20px;
    margin-left: -5px;
    position: relative;
    overflow: hidden;
}

.book img {
    max-width: 100%;
    transition: transform 1s;
}

.book img:hover {
    transform: scale(1.3);
}

.books {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.book:hover .books {
    transform: scaleX(1);
}

.books .content {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.ward {
    width: 367px;
    height: 227px;
    margin-bottom: 15px;
    margin-left: -5px;
    position: relative;
    overflow: hidden;
}

.ward img {
    max-width: 100%;
    transition: transform 1s;
}

.ward img:hover {
    transform: scale(1.3);
}

.wards {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.ward:hover .wards {
    transform: scaleX(1);
}

.wards .content {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.gardens {
    width: 367px;
    height: 230px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.gardens img {
    max-width: 100%;
    transition: transform 1s;
}

.gardens img:hover {
    transform: scale(1.3);
}

.gardenn {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.gardens:hover .gardenn {
    transform: scaleX(1);
}

.gardenn .content {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.poster {
    width: 367px;
    height: 230px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.poster img {
    max-width: 100%;
    transition: transform 1s;
}

.poster img:hover {
    transform: scale(1.3);
}

.posters {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.poster:hover .posters {
    transform: scaleX(1);
}

.posters .content {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.hyper {
    width: 367px;
    height: 480px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.hyper img {
    max-width: 100%;
    transition: transform 1s;
}

.hyper img:hover {
    transform: scale(1.3);
}

.hypers {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.hyper:hover .hypers {
    transform: scaleX(1);
}

.hypers .content {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.flyer {
    width: 367px;
    height: 480px;
    margin-bottom: 20px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

.flyer img {
    max-width: 100%;
    transition: transform 1s;
}

.flyer img:hover {
    transform: scale(1.3);
}

.flyers {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.flyer:hover .flyers {
    transform: scaleX(1);
}

.flyers .content {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.grapics {
    width: 367px;
    height: 480px;
    margin-bottom: 20px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

.grapics img {
    max-width: 100%;
    transition: transform 1s;
}

.grapics img:hover {
    transform: scale(1.3);
}

.grafic {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, .8);
    transform: scaleX(0);
    transition: transform .5s;
}

.grapics:hover .grafic {
    transform: scaleX(1);
}

.grafic .content {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}


/* servicessection */

#services {
    padding-bottom: 100px;
    background: #000;
}

.serve {
    margin-top: 50px;
    padding: 50px 10px;
    background: white;
    text-align: center;
    border-radius: 5px;
    opacity: 0.5;
}

.disign {
    font-weight: bold;
    margin-top: 10px;
}

.serve P {
    color: black;
}

.serve:hover {
    opacity: 1;
    transition: .5s;
    cursor: pointer;
    transform: scale(1.3);
    z-index: 2;
}


/* testimonialsection */

#testimonial {
    background: #202020;
    padding-bottom: 100px;
}

.john {
    color: white;
    background: #000;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    width: 730px;
    margin-left: 195px;
    position: relative;
    margin-top: 80px;
    border-radius: 5px;
}

.men {
    position: absolute;
    right: 318px;
    top: -50px;
}

.co {
    font-weight: bold;
}


/* blogsection */

#blog {
    padding-bottom: 100px;
    background: #000;
}

.blogpic {
    margin-top: 50px;
}

.date {
    background: white;
    width: 360px;
}

.date p {
    color: gray;
}

.kaki img,
p {
    display: inline;
}

.lenk {
    background: white;
    color: gray;
    padding-bottom: 5px;
}

.lenks {
    background: white;
    color: gray;
    padding-bottom: 5px;
    width: 360px;
}

.lenkd {
    background: white;
    color: gray;
    padding-bottom: 5px;
    width: 360px;
}

.ink {
    margin-left: 35px;
}

.water:hover {
    color: gray;
}

.hr {
    margin-top: 0;
    width: 360px;
    color: gray;
}

.coment {
    width: 16px;
    margin-left: 5px;
}

.calen {
    margin-left: 110px;
}

.calens {
    margin-left: 90px;
}

.down {
    margin-top: 10px;
}

.link {
    margin-left: -10px;
}

.links {
    margin-left: 10px;
}


/* getsection */

#get {
    padding-bottom: 100px;
    background: #202020;
}

.touch {
    margin-left: -150px;
}

.khalu {
    float: right;
    margin-left: -50px;
    width: 80%;
}

.khala {
    margin-top: 30px;
    margin-left: 5px;
}

.phone {
    width: 58px;
    background: white;
    border-radius: 50px;
    padding: 4px 4px;
}

.mobile {
    color: white;
    font-size: 25px;
}

.num {
    margin-top: -20px;
}

.mobiles {
    width: 58px;
    background: white;
    border-radius: 50px;
    padding: 4px 4px;
}

.email {
    margin-top: 30px;
    margin-left: 5px;
}

.mahmud {
    float: right;
    width: 80%;
}

.icon {
    width: 58px;
    background: white;
    border-radius: 50px;
    padding: 4px 4px;
}

.house {
    margin-top: 30px;
    margin-left: 5px;
}

.mahmuds {
    float: right;
    width: 80%;
}

.form {
    margin-top: 180px;
}

.form-control {
    background-color: #2b2b2b;
}

.forms-control {
    height: 200px;
    width: 635px;
    border: 2px solid silver;
    padding: 14px 25px;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #DBDED5;
}

.saif {
    margin-top: 25px;
}

.send {
    margin-top: 10px;
    background: #575454;
    color: #DBDED5;
}

.send:hover {
    background: #DBDED5;
    color: #575454;
}


/* footersection */

footer {
    background: #000;
    padding-bottom: 30px;
}

.left {
    margin-top: 40px;
}

.footer {
    list-style-type: none;
}

.social {
    font-size: 12px;
    font-family: "roboto", sans-serif;
}

.style {
    margin-top: 40px;
    margin-left: 300px;
}

.style a {
    display: inline;
    padding: 0 20px;
    text-decoration: none;
    color: #DBDED5;
}

.style a:hover {
    color: #575454;
    transition: .5s;
}